/*This Custom CSS file has not been structured in any particular order. 

Modify this file to your hearts content and make your website look awesome!*/


body{
	background-color: #fff;
	padding-top: 200px;
}

/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: -80px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background: url('../img/common/homepage_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}



/*Cards*/
.card{border: none; background-color: transparent;}

/*Navbar Rules*/
img.nav-bar-img{
	margin-right: 10px;
}

.navbar{padding-top: 100px;
	background-color: #fff; position: absolute;

}

a.navbar-brand{
	font-family:'Futura', Sans-Serif;
	font-size: 10px;
}

a.nav-item  {letter-spacing: 3px;
	font-size: 15px;
font-family: 'Futura', sans-serif;
font-weight:bold;
color: #212423;}

/*Floating Nav*/
.floating-nav{
	position: fixed;
	margin-top: 50px;
	border-left: 1px solid #727272;
}

	a.float-nav-link{
		font-family: 'Futura', Sans-Serif;
		color: #595959;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
	}

/*Image Rules*/
img{
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
	font-family:'Futura', Sans-Serif;
	margin-bottom: 20px;font-weight: bold; letter-spacing: 3px;
}
	h1.welcome-special{
		font-size: 90px;
	}

	h2.welcome-special-sub{
		font-family: 'Futura', Sans-Serif;
		font-size: 25px;
		letter-spacing: 2px;
		line-height: 30px;
	}

	h3{
		text-transform: uppercase;
		color: #B4707E;;
		letter-spacing: -0.5px;
	}

p, li, span, a {
	font-family: 'Helvetica', Sans-Serif;
	text-align: justify;
	font-weight: 300;
}

	p{
		color: #494949;
		line-height: 30px;
		margin-bottom: 25px;
	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0px 10px 0px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	margin-top: 100px;
}

.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: #000;
	border-radius: 0px 0px 0px 0px;
	border: 1px solid #000;
	font-family:'Helvetica', Sans-Serif;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;  padding: 10px;
}

.welcome-button:hover{
	background-color: #fff;
	border-color: #000;
	color: #000;
}
.welcome-button2{
	background-color: #000;
	border-radius: 0px 0px 0px 0px;
	border: 1px solid #000;
	font-family:'Helvetica', Sans-Serif;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase; padding: 10px;
}
.welcome-button2:hover{
	background-color: #fff;
	border-color: #000;
	color: #000;
}
.master-heading{
	padding-top: 50px;	
}

.section-heading{
	padding-top: 100px;	
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

/*Footer*/
.footer{
	margin-top: 50px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #fff;
	
}

.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	
	/* Define the default color for all the table rows */
	.hoverTable th{
		background: #fff;
	}
	/* Define the hover highlight color for the table row */
    .hoverTable th:hover {
          opacity: 0.6;

    }


.responsive {
    width: 100%;
    max-width: 842px;
    height: auto;
}

.back-button{
	background-color: #000;
	border-radius: 0px 0px 0px 0px;
	border: 1px solid #000;
	font-family:'Helvetica', Sans-Serif;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	position: fixed;
}
